In [ ]:
import pandas as pd
import numpy as np
data={
    "name":["susan","anna","joan","jochim"],
    "age":[18,21,24,np.nan],
    "marks":[98,77,70,68],
    "attendance":[75,75,76,63,],
    "passed":["yes","yes","yes","no"]
}
df=pd.DataFrame(data)
print(df)

     name   age  marks  attendance passed
0   susan  18.0     98          75    yes
1    anna  21.0     77          75    yes
2    joan  24.0     70          76    yes
3  jochim   NaN     68          63     no

In [ ]:
print(df.isnull().sum())

name          0
age           1
marks         0
attendance    0
passed        0
dtype: int64

In [ ]:
df_cleaned=df.dropna()
print(df_cleaned)

    name   age  marks  attendance passed
0  susan  18.0     98          75    yes
1   anna  21.0     77          75    yes
2   joan  24.0     70          76    yes

In [ ]:
df["age"].fillna(df["age"].mean(),inplace=True)
df["marks"].fillna(df["marks"].median(),inplace=True)
df["attendance"].fillna(df["attendance"].mean(),inplace=True)
df["passed"].fillna(df["passed"].mode()[0],inplace=True)

df.ffill(inplace=True)
df.bfill(inplace=True)
df.drop_duplicates(inplace=True)

from sklearn.preprocessing import StandardScaler
scaler=StandardScaler()
df_scaled=df.copy()
df_scaled[["marks","attendance",]]=scaler.fit_transform(df[["marks","attendance"]])
print(df_scaled)

     name   age     marks  attendance passed
0   susan  18.0  1.662145    0.513436    yes
1    anna  21.0 -0.105199    0.513436    yes
2    joan  24.0 -0.694314    0.700140    yes
3  jochim  21.0 -0.862632   -1.727012     no

<ipython-input-41-503ae0435682>:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["age"].fillna(df["age"].mean(),inplace=True)
<ipython-input-41-503ae0435682>:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["marks"].fillna(df["marks"].median(),inplace=True)
<ipython-input-41-503ae0435682>:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["attendance"].fillna(df["attendance"].mean(),inplace=True)
<ipython-input-41-503ae0435682>:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["passed"].fillna(df["passed"].mode()[0],inplace=True)

In [ ]:
from sklearn.preprocessing import MinMaxScaler
scaler=MinMaxScaler()
df_scaled=df.copy()
df_scaled[["marks","attendance",]]=scaler.fit_transform(df[["marks","attendance"]])
print(df_scaled)

     name   age     marks  attendance passed
0   susan  18.0  1.000000    0.923077    yes
1    anna  21.0  0.300000    0.923077    yes
2    joan  24.0  0.066667    1.000000    yes
3  jochim  21.0  0.000000    0.000000     no

In [ ]:
df_encoded=pd.get_dummies(df,columns=["passed"],drop_first=True)
print(df_encoded)

     name   age  marks  attendance  passed_yes
0   susan  18.0     98          75        True
1    anna  21.0     77          75        True
2    joan  24.0     70          76        True
3  jochim  21.0     68          63       False

In [ ]:
from sklearn.preprocessing import LabelEncoder
encoder=LabelEncoder()
df["passed"]=encoder.fit_transform(df["passed"])
print(df)

     name   age  marks  attendance  passed
0   susan  18.0     98          75       1
1    anna  21.0     77          75       1
2    joan  24.0     70          76       1
3  jochim  21.0     68          63       0

In [ ]:
def performance_category(marks):
  if marks>=85:
    return"High"
  elif marks>=70:
    return"Medium"
  else:
    return"Low"
df["performance"]=df["marks"].apply(performance_category)
print(df)

     name   age  marks  attendance  passed performance
0   susan  18.0     98          75       1        High
1    anna  21.0     77          75       1      Medium
2    joan  24.0     70          76       1      Medium
3  jochim  21.0     68          63       0         Low

In [ ]:
df["age_group"]=pd.cut(df["age"],bins=[18,21,24,28],labels=["Young","Adult","Senior"])
print(df)

     name   age  marks  attendance  passed performance age_group
0   susan  18.0     98          75       1        High       NaN
1    anna  21.0     77          75       1      Medium     Young
2    joan  24.0     70          76       1      Medium     Adult
3  jochim  21.0     68          63       0         Low     Young